.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__item {
    padding: 100px 0;
}

.content__item-left {
    padding: 0 20px;
}

.content__item-right {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.btn-content {
    margin: 0;
}

.similar {
    margin-bottom: 100px;
}

.similar__title {
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: Playfair Display,serif;
    font-size: 20px;
    font-weight: 700;
}

.explore {
    font-size: 16px;
    text-transform: uppercase;

    &::after {
        content: url('../img/arrow.png');
        margin-left: 15px;
    }
}

.similar__products {
    display: flex;
    justify-content: space-around;

    & .card-box {
        background-color: $black_card;

        & a {
            display: flex;
            justify-content: center;
            align-items: center;

             &:hover {
                 & .text {
                    display: block;
                 }
            }

            & .text {
                display: none;
                height: 368px;
                width: 368px;
                padding-top: 50px;
                position: absolute;
                top: 0;

                border: 1px solid #9c9c9c;
                background-color: #ffffff;
                opacity: 0.9;

                font-family: Playfair Display,serif;
                font-weight: 700;
                color: $black;
                text-align: center;

                & h4 {
                    font-size: 32px;
                    font-weight: bolder;
                }

                & p {
                    color: lighten($black_card, 50%);
                    font-size: 22px;
                }
            }
        }
    }

}


.card-box {
    display: flex;
    justify-content: center;
    align-items: center;

    float: left;
    margin-right: 30px;
    height: 370px;
    width: 370px;
    position: relative;

    &:last-child {
        margin-right: 0px;
    }
}

