<footer class="footer">

        <div class="footer__top">
            <div class="container">

                <div class="row  footer__top-row">

                    <div class="col-lg-4  footer__column">

                        <h3 class="footer__title">О магазине</h3>
                        <p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi semper viverra nunc cursus tortor lectus nunc nulla nibh. Egestas amet consectetur vel vitae aliquam dictum suspendisse. Lobortis eget consequat, tellus et et sed turpis. Pretium quisque vitae, amet, porttitor odio ultricies massa pharetra leo. Et ipsum urna fames in sit mi ultrices nisi, nunc.</p>

                    </div>

                    <div class="col-lg-4  footer__column">

                        <h3 class="footer__title">Категории</h3>

                        <div class="footer__top-link">

                            <a class="footer-link" href="#">часы</a>
                            <a class="footer-link" href="#">браслеты</a>
                            <a class="footer-link" href="#">ремни</a>

                        </div><!-- ./footer__top-link -->

                        <div class="footer__bottom-link">

                            <a class="footer-link" href="#">ювелирные изделия</a>
                            <a class="footer-link" href="#">запонки</a>

                        </div><!-- ./footer__top-link -->

                    </div>

                    <div class="col-lg-4  footer__column">

                        <h3 class="footer__title">РАссылка</h3>
                        <p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi semper viverra nunc cursus tortor lectus nunc nulla nibh.</p>
                        <div class="footer__subs">
                            <form class="footer__form" action="#">
                                <input class="footer__input" type="email" placeholder="Ваша почта">
                                <button class="footer__btn" type="submit">подписаться</button>
                            </form>
                        </div>

                    </div>

                </div><!-- ./footer__top -->
            </div><!-- ./container -->

        </div><!-- ./footer__body -->

        <div class="footer__bottom">
            <div class="container">

                <div class="row">

                    <div class="col-lg-6  d-flex  align-items-center  footer__copy">
                        <p class="footer__copy-text">2020 Все права защищены</p>
                    </div>

                    <div class="col-lg-6  d-flex  align-items-center  justify-content-end  footer__dev">
                        <a class="footer__dev-text" href="#">Сделано A-X-E-L</a>
                    </div>

                </div><!-- ./row -->

            </div><!-- ./container -->
        </div><!-- ./footer__bottom -->

</footer>
