<!-- Topband -->
<div class="topband">
    <div class="container">

        <div class="topband__row">

            <div class="topband__column">
                <ul class="topband__info">
                    <li class="topband__item">8 (812) 123-45-67</li>
                    <li class="topband__item">Работаем 7 дней в неделю</li>
                    <li class="topband__item">9:00 — 18:00</li>
                </ul>
            </div><!-- ./topband__column -->

            <div class="topband__column">
                <div class="topband__sign-in">
                    <a class="topband__link" href="#" >Войти / Регистрация</a>
                </div>
            </div>

        </div><!-- ./topband__row -->

    </div><!-- ./container -->
</div><!-- ./topband -->


<!-- Header -->
<header class="header">
    <div class="container">

        <div class="header__body">

            <div class="row">
                <div class="col-lg-6  d-flex  align-items-center">
                    <a href="index.html" class="header__logo">
                        <img src="../../assets/img/PORTEN.svg" alt="logo" class="header__logo-img">
                    </a>
                </div>
                <div class="col-lg-6  d-flex  justify-content-end">
                    <nav class="header__nav">
                        <div class="nav__item  activ">
                            <a href="index.html" class="nav__link">Главная</a>
                        </div>
                        <div class="nav__item">
                            <a href="product.html" class="nav__link">Продукты</a>
                        </div>
                        <div class="nav__item">
                            <a href="contacts.html" class="nav__link">Контакты</a>
                        </div>
                    </nav>

                    <div class="header__basket">
                        <a href="#" class="basket__link">
                            <img src="../../assets/img/bx_bx-cart.svg" alt="basket" class="basket__icon">
                        </a>
                    </div>

                    <div class="header__search">
                        <a href="#" class="search__link">
                            <img class="search__icon" src="../../assets/img/gridicons_search.svg" alt="search">
                        </a>
                    </div>
                </div>
            </div><!-- ./row -->

        </div><!-- ./header__body -->

    </div>
</header>
