@import "vars";


/* Default styles */
html {
    font-size: 16px;
}

body {
    margin: 0;

    background-color: $black;

    //font-family: 'Playfair Display', serif;
    font-family: 'PT Sans', sans-serif;
    color: $white;
    font-size: 1rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: $white;
    text-decoration: none;
}

.wrapper {
    max-width: 1920px;
    padding: 0 15px;
    margin: 0 auto;
}


/* Bootstrap */
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/utilities";


/* Blocks */
@import "blocks/header";
@import "blocks/intro";
@import "blocks/new-session";
@import "blocks/old-collection";
@import "blocks/products";
@import "blocks/brands";
@import "blocks/footer";
