@import "vars";


/* Default styles */
html {
    font-size: 16px;
}

body {
    margin: 0;

    //font-family: 'Playfair Display', serif;
    font-family: 'PT Sans', sans-serif;
    color: $white;
    font-size: 1rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Bootstrap */
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/utilities";


/* Blocks */
@import "blocks/header";
@import "blocks/intro";
